footer {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 20px;
   position: relative;
   bottom: 0;
   width: 100%;
 }
 
 footer h3 {
   margin: 0;
   font-size: 14px;
 }

 .footer-dark {
    background-color: transparent;
}

 footer hr{
    width: 90%;
    height: 2px;
    background-color: rgba(43, 90, 33, 0.664);
    margin: auto;
    margin-bottom: 10px;
  }
 
 @media (max-width: 768px) {
   footer {
     padding: 10px;
   }
 }
 