.stack h2 {
   text-align: center;
   font-size: 32px;
   font-weight: bold;
   margin-top: 40px;
   }

.header{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   justify-content: center;
   align-items: center;
   gap: 20px;
   flex-wrap: wrap;
   margin: 45px;
}

.wrapper{
   width: 18dvw;
   height: 30dvh;
   background: linear-gradient(#2c3320, #2c332009);
   border-radius: 10px;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.wrapper img {
   width: 120px;
   height: 120px;
   border-radius: 8px;
}

.wrapper p{
   margin-top: 30px;
   font-size: 18px;
   font-weight: bold;
}

@media (max-width: 768px) {
   .header {
      grid-template-columns: 1fr 1fr 1fr;
   }

   .wrapper{
      width: 25dvw;
   }
}
@media (max-width: 600px) {
   .header {
      grid-template-columns: 1fr 1fr;
   }
   .wrapper {
      width: 45dvw;
   }
}